<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hacker Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index_style.css') }}">
  </head>
  <body>
    <header>
      <h1>Hacker Community</h1>
    </header>
    <nav>
      <ul>
        <li><a href="Introduction" >Introduction</a></li>
        <li><a href="Attacks" >Attacks</a></li>
        <li><a href="Resources" >Resources</a></li>
        <li><a href="Community" >Community</a></li>
      </ul>
    </nav>
    <main>

        <h2>Introduction</h2>
        <p>In this section, you will find more about who we are, What we do and about our values and how to get involved.</p>

		<h2>Attacks</h2>
		<p>In this section, you will find more about cyber attacks that hackers commonly use around the world.</p>
		
        <h2>Resources</h2>
        <p>In this section, you will find links to valuable resources such as tutorials, forums, and tools that can help you in your hacking journey. Make sure to check back often as we are always updating our list.</p>
		
        <h2>Community</h2>
        <p>In this section, you will find information about our community! Whether you are looking to make new friends, share your knowledge, or find like-minded individuals, this is the place for you.</p>
    </main>
    <footer>
      <p>Copyright © Hacker Community</p>
    </footer>
  </body>
</html>
